:root {
    --snake-color: #0a0;
    --snake-eye-color: #a00;
    --wall-color: #d50;
    --food-color: #00a;
    --cell-border: #aaa;
}

#world {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    justify-content: center;
    border: 1px solid var(--cell-border);
    padding: 2px;
}

#world .row {
    display: flex;
    flex-direction: row;
    flex-basis: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
}

#world .row .cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-basis: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 2px;
    border-radius: 20%;
    border: 1px solid transparent;
}

.cell:not(.snake):not(.wall):not(.food) {
    border: 1px solid var(--cell-border) !important;
}

.cell.snake {
    background: var(--snake-color);
    border-radius: 50% !important;
}
.cell.snake.head::before {
    content: ' ';
    height: 10px;
    width: 10px;
    background-color: var(--snake-eye-color);
    border-radius: 50%;
}

.cell.wall {
    background: var(--wall-color);
}

.cell.food {
    background: var(--food-color);
    border-radius: 50% !important;
}

.cell.left, .cell.top {
    border-top-left-radius: 0 !important;
}
.cell.right, .cell.top {
    border-top-right-radius: 0 !important;
}
.cell.right, .cell.bottom {
    border-bottom-right-radius: 0 !important;
}
.cell.left, .cell.bottom {
    border-bottom-left-radius: 0 !important;
}